body {
	width:100%;
	margin:0 auto;
	background-image: url("../images/background1080.png"); 
	background-size: cover;



}

/*------------------Animation
*/

@-webkit-keyframes bodymove {
	0%   { transform:translateY(0px);}
	50%   { transform:translateY(5px); }
	100% { transform:translateY(0px); }
}


@-webkit-keyframes headmove {
	0%   { transform:translateY(0px); transform:rotate(0deg);}
	50%   { transform:translateY(10px);transform:rotate(.7deg); }
	100% { transform:translateY(0px);transform:rotate(0deg); }
}

@-webkit-keyframes blink {

	0% , 49%   { transform:scaleY(1); }
	50%   { transform:scaleY(.01); }
	51%, 100% { transform:scaleY(1); }

}

@-webkit-keyframes talking {
	0%   { transform:rotate(0deg);}
	20%   { transform:rotate(.4deg); }
	40% { transform:rotate(0deg); }
	60%   { transform:rotate(.5deg); }
	70% { transform:rotate(0deg); }
	85%   { transform:rotate(.4deg); }
	100% { transform:rotate(0deg); }
}

#all-body {
	-webkit-animation: bodymove 2s infinite;
}

#all-head {
	-webkit-animation: headmove 2s infinite;
	-webkit-animation-delay: .1s;
}

#left-eye {
	-webkit-animation: blink 10s infinite;
	transform-origin:center;
}

#right-eye {
	-webkit-animation: blink 10s infinite;
	transform-origin:center;
	-webkit-animation-delay: .03s;
}

#bottom-beak {
	-webkit-animation:talking 1s infinite;
	-webkit-animation-direction: alternate;
	-webkit-animation-iteration-count: 5;
}


/*------------------Nav Bar
*/

.nav-bar {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 5555;
	width:100%;
}

.nav-bar img {
	width:115px;
	height:125px;
	float:left;
	padding:1em;
	opacity:.5;
	margin-left:2em;
}

.social-icons {
	display:inline-block;
	float:right;
	padding:1em;
	padding-right:2em;
}

.social-icons i {
	color: rgba(255, 255, 255, .3);
	font-size:50px;
	padding:.3em;
}

/*------------------Kiwi container
*/



.kiwi-container{
	display:flex;
	padding:4em;
	align-items:flex-end;
	height:100vh;

}

.kiwi{
	flex:1;

}

/*------------------Speech bubble
*/

.text-container{
	height:100vh; 
	display:flex;
	justify-content:center;
	align-items:flex-start;
	flex-direction:column;
}

.speech-bubble {
	background-color:#f2f2f2;
	border-radius:10px;
	width:90%;


}

.btn {
	padding:1em;
	margin-top:2em;
}

.speech-bubble h2{

	padding:1em;
}

#bubbleContent {
	display:none;
	opacity:0;
}


